.form-group
  = form.label :name_attributes, "Name"
  = text_field_tag "name", category.name, class: 'required form-control'

.form-group
  = form.label :name_attributes, "Day"
  = text_field_tag "day", category.day, class: 'required form-control', type: "datetime-local"

.form-check
  %label Active:
  - [ 'true', 'false'].each do |theme|
    %label
      = form.radio_button(:active, theme)
      = theme.humanize
